.create-post {
  width: 800px;

  display: flex;
  flex-direction: column;
  gap: 4rem;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}
