@import "../../assets/css/mixins.css";

.app-layout {
  @mixin atMedium {
    display: grid;
    grid-template-columns: 280px auto;
    grid-template-areas:
      "header header"
      "sidebar main";
  }
}

.page-wrapper {
  padding-left: calc(10vw + 20px);
  padding-top: 75px;
}
