@import "../../assets/css/mixins.css";

.header {
  background: url(../../assets/images/background-header.jpg);
  padding: 1.2rem 3rem 1.2rem 2.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
  grid-column: span 2;
  position: sticky;
  top: 0;
  z-index: 10;
  flex-wrap: wrap;
  gap: 2rem;

  &__title {
    margin: 0;
    color: #fff;
    font-size: 2rem;
    width: 220px;
    font-weight: 600;
  }

  &__user-area {
    display: none;
    @mixin atSmall {
      display: flex;
      font-size: 1.125rem;
      gap: 1.2rem;
      align-items: center;
      min-width: fit-content;
    }
  }

  &__searchbar {
    display: none;
    @mixin atSmall {
      display: inline-block;
      width: 550px;
    }
  }
}
