@import "../../assets/css/mixins.css";

.page {
  padding: 30px 20px;
  width: 100vw;
  position: relative;

  @mixin atMedium {
    padding-left: calc(10vw + 20px);
    padding-top: 75px;
    width: 1200px;
  }
}
