.post {
  width: 700px;

  &__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    &__heading {
      font-size: 2rem;
    }
  }

  &__buttons {
    display: flex;
    gap: 1rem;
  }

  &__content {
    outline: 1px solid lightgrey;
    padding: 2rem 3.5rem;
    border-radius: 10px;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 2rem;

    &__text {
      font-style: italic;
    }
  }
}
