@import "../../assets/css/mixins.css";

.post {
  position: relative;

  @mixin atMedium {
    width: 700px;
  }

  &__title {
    margin-bottom: 0.5rem;
    &__heading {
      font-size: 2rem;
      font-weight: 600;
    }
  }

  &__buttons {
    margin-top: 1rem;
    @mixin atMedium {
      position: absolute;
      top: 0;
      right: 0;
      bottom: auto;
    }
    display: flex;
    gap: 1rem;
  }

  &__content {
    outline: 1px solid lightgrey;
    padding: 1rem 1.2rem;
    @mixin atMedium {
      padding: 2rem 3.5rem;
    }
    border-radius: 10px;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 2rem;

    &__text {
      font-style: italic;
      & > a {
        text-decoration: none;
        color: #d37a46;
      }
    }
  }
}
